@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,700i&display=swap');

* {
  font-family: 'IBM Plex Mono', monospace;
}

/* just define some variables */
html {
  --pad: 0.3rem;
  --border-radius: 4px;
}

.hide {
  display: none;
}

.ws {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.bg-tint {
  background-color: rgba(0, 0, 0, 0.4);

  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  pointer-events: all;
}

code {
  background-color: lightgrey;
}

html,
body {
  padding: 0;
  margin: 0;
}

header {
  padding: var(--pad);
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas:
    'title create-button'
    'search-query search-query';
}

header>h1 {
  grid-area: title;
}

header>button {
  grid-area: create-button;
  border-radius: var(--border-radius);
  border-style: none;
  height: 2.5rem;
  padding: 0 1rem;
  margin: auto 0;
  transition: 0.2s;
}

header>button:hover {
  box-shadow: 0 2px 4px gray;
}

header>input {
  grid-area: search-query;
  height: 3rem;
  box-sizing: border-box;
  border-radius: var(--border-radius);
  border: none;
  box-shadow: inset 0 1px 3px 0 grey;
  padding: 1rem;
}

main {
  /* magic incantations for responsive grid */
  display: grid;
  grid-template-columns: repeat(auto-fit,
      minmax(240px, 1fr));

  grid-gap: var(--pad);

  padding: var(--pad);
}

.empty-filler {
  margin: auto;
  text-align: center;
}

.listitem.note {
  padding: 1.5em;
  border-radius: var(--border-radius);
  font-size: 10pt;
  max-height: 6rem;
  overflow: hidden;

  /* bottom fade out hack */
  position: relative;
}

/* bottom fade out hack */
.listitem.note:before {
  content: '';
  display: block;
  box-shadow: inset 0 -1rem 1rem 0 var(--note-bg-color);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.listitem.note small {
  font-style: italic;
  color: var(--note-rim-color, var(--note-fg-color));
}

.listitem .item-action {
  opacity: 0;
  color: var(--note-fg-color, var(--note-rim-color));
  position: absolute;
  right: 1rem;
  top: 0.4rem;
  transition: opacity 0.1s;
}

.listitem:hover .item-action {
  opacity: 1;
}

.note {
  border-top-style: outset;
  border-top-width: var(--border-radius);

  background-color: var(--note-bg-color);
  border-top-color: var(--note-rim-color);
  color: var(--note-fg-color);

}

.note.page {
  /* center popup triccs */
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  width: 80vw;
  height: 80vh;
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  box-shadow: 0 1rem 2rem #aa000000, 0 0.5rem 1rem black;
  border-radius: var(--border-radius);

  z-index: 100;
  pointer-events: all;

  display: grid;
  grid-template-rows: auto 1fr;
}

@media only screen and (max-width: 768px) {
  .note.page {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
  }
}

.note.page>header {
  margin: 1rem;

  display: grid;
  grid-template-columns: 1fr auto auto auto;
  grid-gap: 1rem;
}

.note a {
  color: var(--note-fg-color, var(--note-rim-color));
  font-style: italic;
}

.note.page a:hover {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

.note.page textarea {
  color: var(--note-fg-color);
  margin: 1rem;
  padding: none;

  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
}

.color-dropdown {
  position: relative;
  display: inline-block;
}

.color-dropdown-content {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  background-color: white;
  z-index: 1;

  padding: 1rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

  display: grid;
  grid-template-columns: repeat(3, 2rem);
  grid-gap: 1rem;

  right: 0;

  transition: 0.2s;
}


.color-dropdown:hover {
  text-decoration: underline;
}

.color-dropdown:hover .color-dropdown-content {
  visibility: visible;
  display: grid;
  opacity: 1;
}

.color-dropdown-content a {
  display: block;
  border-radius: 50%;
  padding-top: 100%;
  background-color: var(--note-bg-color);
}

.note-color-red {
  --note-bg-color: rgb(247, 163, 163);
  --note-rim-color: rgb(239, 105, 105);
  --note-shadow-color: rgba(239, 105, 105, 50);
}

.note-color-black {
  --note-bg-color: #66645d;
  --note-rim-color: #2b2a28;
  --note-fg-color: white;
}

.note-color-pink {
  --note-bg-color: #f26fc2;
  --note-rim-color: #a53b7f;
}

.note-color-green {
  --note-bg-color: #bdd984;
  --note-rim-color: #768c47;
}

.note-color-red {
  --note-bg-color: #ff9184;
  --note-rim-color: #b2564b;
}

.note-color-blue {
  --note-bg-color: #7bdff0;
  --note-rim-color: #4396a3;
}

.note-color-yellow {
  --note-bg-color: #f8ed74;
  --note-rim-color: #aba23f;
}